/* Honda — load AFTER tpl.css */
.tpl-root {
  --tpl-primary: #1983c6;
  --tpl-primary-hover: #084b8f;
  --tpl-button: #2198dc;
  --tpl-button-hover: #1a79b0;
  --tpl-link: #2198dc;
  --tpl-link-hover: #1a79b0;
  --tpl-secondary: #f5f5f5;
  --tpl-alt: #f8ca00;
}
